/* Styles généraux */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour les champs de saisie */
.form-label {
    font-weight: 500;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}

/* Styles pour les boutons */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* Styles pour la zone de téléchargement */
.upload-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.upload-area:hover {
    border-color: #666;
}

.upload-icon {
    font-size: 30px;
    color: #ccc;
}

.upload-instructions {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

/* Styles pour l'image de prévisualisation */
.file-preview {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}
